<!-- server/views/client.ejs -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Twitch BucketsGG</title>
  <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body>
  <div id="root">
    <%- component %>
  </div>
  <script defer="defer" src="<%= assets["client.js"] %>"></script>
</body>

</html>