<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Twitch BucketsGG</title>
        <link rel="stylesheet" href="/assets/css/login.css" />
    </head>

    <body>
        <div id="root" class="flexRow">
            <div id="sideBar">
                <div id="bucketsOverlayLogo">
                    <img
                        src="/assets/img/bucketsOverlayLogo.png"
                        alt="Bucket Overlays"
                    />
                </div>
                <div id="header">
                    <span class="highlight">Get Buckets</span> for your Twitch
                    Overlay
                </div>
                <div id="info">
                    <div id="infoHeader">How it works</div>
                    <div id="infoItem">
                        Login to your
                        <span class="highlight">Twitch Account</span>
                    </div>
                </div>
            </div>
            <div id="main">
                <a href="/auth/twitch">
                    <button id="loginBtn">
                        <img src="/assets/svg/twitchIcon.svg" />
                        <label>LOGIN WITH TWITCH</label>
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>
